div{

	height: 100px;
 	padding: 10px 0px  0px 5px;
 	margin-bottom: 10px;

}



.div2{
	
	width: 20%;
}
.div3{
	width: 20%;
 	margin-right: 10px;
	display: inline-block;
}
.div4{
	display: inline;
}

.bandera-amarilla{
	background-color: #F7B617;

}

.bandera-gris{
	background-color: #2B2B2B;
	color: #FFF;
} <!-- Segunda parte -->

